// Font
$font-primary: "Work Sans", sans-serif;
$font-secondary: "Space Mono", monospace;

// Color
$color-purplea2: #a259ff;
$color-grey3b: #3b3b3b;
$color-grey2b: #2b2b2b;
$color-grey85: #858584;
$color-greycc: #ccc;
$color-white: #fff;
$color-green00: #00ac4f;
